In [1]:
from flask import Flask, jsonify, request
from sqlalchemy import create_engine, text
import sqlite3
import pandas as pd
import numpy as np

In [256]:
# Muestra: postgresql://<usuario>:<contraseña>@<host>/<base_de_datos>
# Protocolo depende de donde estamos trabajando
# El usuario depende de como creamnos la estancia
# La contraseña también depende de cuando creamos la estancia 
churro = "postgresql://postgres:postgres@104.199.93.74/postgres"
engine = create_engine(churro)

In [257]:
df_predictions = pd.DataFrame({"pclass": [],"sex": [],"age": [],"prediction": [],"timestamp": []})
df_predictions.to_sql('predictions', con=engine, if_exists="replace",index=False)

0

In [251]:
df_predictions = pd.DataFrame({"pclass": [1],"sex": [1],"age": [1],"prediction": [1],"timestamp": [1]})
df_predictions.to_sql('predictions', con=engine, if_exists="append",index=False)

1

In [258]:
query = '''SELECT * FROM predictions'''
test = pd.read_sql(query,con=engine)
pd.read_sql(query,con=engine)#.to_json()

Empty DataFrame
Columns: [pclass, sex, age, prediction, timestamp]
Index: []

In [178]:
test.loc[:,"id"] == None

0    False
1    False
Name: id, dtype: bool